<!DOCTYPE html>
<html>
<head>
    <title>Nouveau Equipement</title>
</head>
<body>
<h1>Nouveau Equipement</h1>
<form action="?controller=equipement&action=ajouterEquipement" method="POST">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" required>

    <label for="etat">Etat:</label>
    <input type="text" id="etat" name="etat" required>

    <label for="disponible">Disponible:</label>
    <select id="disponible" name="disponible">
        <option value="1">Oui</option>
        <option value="2">Non</option>
    </select>

    <button type="submit">Creer un equipement</button>
</form>
</body>
</html>
